[messages control]

# Disable some distracting checks.
# See http://pylint.pycqa.org/en/latest/user_guide/message-control.html
#
# R : (Refactoring) warnings
disable = import-error,
          too-many-arguments,
          too-many-lines,
          too-many-locals,
          too-many-branches,
          too-many-instance-attributes,
          too-many-nested-blocks,
          too-many-statements
